# Environments and caches
.env
.venv/
.pytest_cache
**/__pycache__/
cache/

# Editors/IDE
.vscode/

# Node/Frontend
node_modules
build
*.html
!frontend/public/index.html

# Data/Artifacts
data/
information/
experimental/

# Project docs/plan
CLAUDE.md
